.about-link {
  color: 'yellow' !important;
}
.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
  background-color: #2f3031 !important;
  padding: 50px;
  max-width: 20%;
}

.help-drawer-icon {
  font-size: 24px !important;
}
